{% extends 'base.html' %}

{% block title %} Paradocs | Home{% endblock title %}

{% block content %}
<main id="home-page">
    <div class="flex-col">
        <h1>Paradocs: Navigating the Paradox of Issue Management with a Twist! Where Problems Meet Solutions in a Web App that Defies Convention.</h1>
        <h2>Supercharge your issue management skills with Paradocs, where problems become paradoxically solved and fun meets functionality!</h2>
    </div>
</main>
<script>
    let listLink = document.getElementById('nav-home');
    function assignActiveClass() {
        listLink.classList.add('active-nav')
    }
    window.onload = (assignActiveClass)
</script>
{% endblock content %}