{% extends 'base.html' %}

{% block title %} Paradocs | Create Issue{% endblock title %}

{% block content %}

<main id="create-issue-page">
    <div class="container">
        <h1>Create Issue</h1>
        <div class="flex-col align justify">
            <form method="POST" class="universal-form">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</main>
<script>
    let listLink = document.getElementById('nav-issues');
    function assignActiveClass() {
        listLink.classList.add('active-nav')
    }
    window.onload = (assignActiveClass)
</script>
{% endblock content %}