{% extends 'base.html' %}

{% block title %} Paradocs | Issues{% endblock title %}

{% block content %}

<main id="issue-list-page">
    <div class="container flex-col">
        <h1>Issues</h1>
        <hr>
        <button class="create-issue button" onclick="window.location.href = '{% url 'new' %}'">Post an Issue<span><i class="fa-solid fa-plus"></i></span></button>
        <section class="flex-row justify">
            {% for issue in issue_list %}
                <article class="flex-row">
                    {% if issue.priority_id == 1 %}
                    <div class="issue-priority red align">
                        <h2 class="priority-value">{{ issue.priority }}</h2>
                    </div>
                    {% elif issue.priority_id == 2 %}
                    <div class="issue-priority yellow align">
                        <h2 class="priority-value">{{ issue.priority }}</h2>
                    </div>
                    {% else %}
                    <div class="issue-priority green align">
                        <h2 class="priority-value">{{ issue.priority }}</h2>
                    </div>
                    {% endif %}
                    <div class="issue-body flex-col flex-between"> 

                        <div class="issue-created-container flex-row align flex-between">
                            <h3 class="issue-status">Status: <span>{{ issue.status }}</span></h3>
                            <div class="flex-col justify">
                                <p class="created-by">Created by: {{ issue.reporter.first_name }} {{ issue.reporter.last_name }} <br>{{ issue.formatted_created_on }} </p>
                            </div>
                        </div>

                        <h2 class="issue-assignee">Assignee: 
                        <span>{{ issue.assignee.first_name }} {{ issue.assignee.last_name }}</span>
                        </h2>

                        <h2 class="issue-summary"><span>Issue</span>: {{ issue.summary|truncatechars:"64" }}</h2>
                        <div class="button-set flex-row align">
                            <button class="button" onclick="window.location.href = '{% url 'detail' issue.id %}'">View <span><i class="fa-solid fa-eye"></i></span></button>
                            <button class="button" onclick="window.location.href = '{% url 'update' issue.id %}'">Edit<span><i class="fa-solid fa-pencil"></i></span></button>
                            <button class="button" onclick="window.location.href = '{% url 'delete' issue.id %}'">Delete<span><i class="fa-solid fa-x"></i></span></button>
                        </div>
                    </div>
                </article>
            {% endfor %}
        </section>
    </div>
</main>

{% endblock content %}