<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script src="https://kit.fontawesome.com/c7dcac8717.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/static/img/favicon.png" type="image/x-icon">
</head>
<body>
    <nav>
        <div class="container flex-row align">
            <ul class="nav-links flex-row align">
                <li onclick="window.location.href = '{% url 'home' %}'">Home</li>
                <li onclick="window.location.href = '{% url 'about' %}'">About</li>
                <li onclick="window.location.href = '{% url 'list' %}'">Issues</li>
            </ul>
            <div class="brand-container flex-row align" onclick="window.location.href = '{% url 'home' %}'">
                <img src="/static/img/logo.svg" alt="">
                <h2>Para<span>Docs</span></h2>
            </div>
            <div class="user-panel flex-row align">
                {% if user.is_authenticated %}
                <div class="flex-col-align">
                    <h3>Welcome, &nbsp<span>{{ user.first_name }}</span></h2>
                    <p onclick="window.location.href = '{% url 'logout' %}'">Log Out</p>
                </div>
                <img src="/static/img/profile.jpg" alt="">
                {% else %}
                <ul class="flex-row align">
                    <li onclick="window.location.href = '{% url 'signup' %}'">Sign Up</li>
                    <li onclick="window.location.href = '{% url 'login' %}'">Log In</li>
                </ul>
                {% endif %}
            </div>
        </div>
    </nav>
    {% block content %}
    {% endblock content %}
    <script src="{% static 'js/base.js' %}"></script>
</body>
</html>